#malotg {
    font-family: Verdana, Arial;
    font-size: 13px;
}

.malotg-links {
    text-decoration: none;
    color: #1d439b;
}

.malotg-links:hover{
    text-decoration: underline !important;
}

#malotg-login>div, #malotg-values>div  {
    margin-top: 10px;
    margin-bottom: 10px;
}

#malotg-out, #malotg-in {
    margin-left: 30px;
    margin-right: 30px;
}

.value-label {
    cursor: default;
    font-size: 11px;
}

.malotg-label-input {
    vertical-align: middle;
}

.malotg-input {
    display: inline-block;
    margin-left: 20px;
}

#malotg-my_watched_episodes {
    width: 50px;
}

#malotg-info {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.malotg-center-button {
    text-align: center
}

#malotg-hide-advanced-button, #malotg-hide-login-button, #malotg-advanced, #malotg-login, #malotg-in, #malotg-display {
    display: none;
}

#malotg-my_tags {
    resize: none;
}

.malotg-normal-buttons {
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-color: #6c8cd8;
    border-left-color: #6c8cd8;
    border-bottom-color: #2e51a2;
    border-right-color: #2e51a2;
    background-color: #4165ba;
    color: #FFFFFF;
    font-size: 11px;
    text-decoration: none;
    padding: 1px 3px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    cursor: pointer;
}

.malotg-normal-buttons:disabled {
    cursor: default;
    background-color: #6c8cd8;
    color: #FFF;
}

.malotg-clear-button:disabled {
    cursor: default;
    color: #6c8cd8;
}

.link-bar {
    margin-left: 10px;
    margin-right: 10px;
}

#malotg-my_tags {
    vertical-align: middle;
}

.ui-widget-header .ui-icon {
    background-image: url("https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png");
}

#malotg-series_title {
    display: inline-flex;
    width: 200px;
    text-overflow: ellipsis
}

.malotg-separator {
    position: absolute;
    width: 100%;
    height: 15px;
    border-bottom: 1px #BEBEBE solid;
}

.malotg-clear-button {
    user-select: none;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    color: #1d439b;
    line-height: 30px;
}

#malotg-advanced-button, #malotg-login-button {
    cursor: pointer;
}

.malotg-toggle-button {
    position: absolute;
    height: 30px;
    width: 150px;
    left: 0;
    right: 0;
    margin: auto;
}

